/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@font-face {
  font-family: 'Nyght Serif';
  src: url('../public/fonts/nyghtserif-medium-webfont.woff2') format('woff2'),
       url('../public/fonts/nyghtserif-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Nyght Serif Italic';
  src: url('../public/fonts/nyghtserif-mediumitalic-webfont.woff2') format('woff2'),
       url('../public/fonts/nyghtserif-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
}

/*  ****** LOGIN-PAGE ***** */
.login-page{
  background: radial-gradient(#CBBAB1 20%, #fdfcfb );
  /* background: radial-gradient(closest-side, #CBBAB1, #fdfcfb, #CBBAB1); */
  height: 100vh;
  width: 100vw;
}

.header-logo{
 font-family: 'Nyght Serif', serif;
 font-size: 2em;
}

.form-label{
  margin-top: 20%;
  font-family: 'Lato', sans-serif;
  color: #908686;
}

input[type=text], input[type=password]{
  border: none;
  border-bottom: 1px solid black;
  background: none;
}

input[type=submit]{
  background-color: #955F3D;
  color: #EEE6DE;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding: 1% 20%;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 20%;
}

input:focus{
  outline: none;
  background: #E3DCD8;
}

.login-card{
  background: linear-gradient(180deg, rgba(245,245, 245, 0.47) 0%, rgba(245, 245, 245, 0) 100%) !important;
  border-radius: 15px !important;
  border: none !important;
}

.card-header-label{
  font-family: 'Lato', sans-serif;
  font-size:1.3em;
}

.card-header-label a{
  text-decoration: none;
  color: #908686;
}

.card-header-label a:visited{
  color: #908686;
}

.card-header-label a:hover{
  color: #BFBFBF;
}
/* ******* MEDIA QUERIES ******** */

@media (min-width: 390px){
  .login-card{
    width: 70% !important;
    height: 70vh !important;
  }

  .form-label{
    margin-top: 15%;
  }
}

@media (min-width: 500px){
  .login-card{
    width: 50% !important;
  }
}

@media (min-width: 954px){
  .login-card{
    width: 30% !important;
  }

  .form-label{
    margin-top: 10%;
  }
}
